dash==1.1.1
dash-core-components==1.1.1
dash-html-components==1.0.0
dash_bootstrap_components
dash-renderer==1.0.0
dash-table==4.1.0
dask==2.1.0
decorator==4.4.0
Flask==1.1.1
Flask-Compress==1.4.0
flask_login
flask_sqlalchemy
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
numpy==1.16.4
matplotlib
pandas==0.24.2
plotly==4.1.0
Werkzeug==0.15.4